.container {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1280px;
}

.aside-section {
  border-right: 1px solid #eee;
  padding: 20px;
}

.title {
  border-bottom: 1px solid #eee;
  padding: 20px;
  padding-top: 7px;
}

.main-nav {
  padding-bottom: 20px;
}

.main {
  padding: 20px;
  overflow: auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    max-width: none;
  }
  .aside-section {
    display: none;
  }
}

@media (min-width: 769px) {
  .container {
    grid-template-columns: minmax(min-content, 230px) 2fr;
  }
}
